html
    head
        link(rel='stylesheet', href='/css/uikit.min.css')
        script(src='https://code.jquery.com/jquery-3.1.0.min.js')
        script(src='/js/uikit.min.js')

    body
        nav.uk-navbar
            ul.uk-navbar-nav
                a(href="" class="uk-navbar-brand") Науч.Круг - Тест
                li
                    a(href="#") Главная

                li
                    a(href="#") Новости

        //a(href='#my-id', data-uk-modal) ...
        //// This is the modal
        //#my-id.uk-modal
        //    .uk-modal-dialog
        //        a.uk-modal-close.uk-close
        //        h1 Привет
